.category {

    // .category__title
    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 180px;
    }
    // .category__list
    &__list {
        padding-top: 24px;

        @include tablet{
            display: none;
        }
    }

    // .category__item
    &__item {
        margin-bottom: 10px;
    }

    // .category__btn
    &__btn {
        font-weight: 300;
        padding-left: 30px;
        background-position: left;
        background-size: 18px;
        background-repeat: no-repeat;
        text-align: left;

        // .category__btn_photographer
        &_photographer {
            background-image: url('img/photographer.svg');
        }

        // .category__btn_makeup
        &_makeup {
            background-image: url('img/makeup.svg');
        }

        // .category__btn_massage
        &_massage {
            background-image: url('img/massage.svg');
        }

        // .category__btn_handyman
        &_handyman {
            background-image: url('img/handyman.svg');
        }

        // .category__btn_cosmetics
        &_cosmetics {
            background-image: url('img/cosmetics.svg');
        }

        // .category__btn_electrical
        &_electrical {
            background-image: url('img/electrical.svg');
        }

        // .category__btn_manicurist
        &_manicurist {
            background-image: url('img/manicurist.svg');
        }

        // .category__btn_plumber
        &_plumber {
            background-image: url('img/plumber.svg');
        }
    }
}