.footer {
    padding: 55px 0;

    // .footer__container
    &__container {    
        display: grid;
        grid-template-areas: 
            'logo . '
            'copyright contacts'
            ;
        gap: 14px;
    }

    // .footer__logo
    &__logo {
        grid-area: logo;
    }

    // .footer__copyright
    &__copyright {
        grid-area: copyright;
        align-self: end;
    }

    // .footer__contacts
    &__contacts {
        grid-area: contacts;
        justify-self: end;

        p:not(:last-child){
            margin-bottom: 7px;
        }
    }
}

